

.spotTileContainer {
  display: flex;
  margin-top: 1em;
  flex-wrap: wrap;
  margin-left: 1em;
  margin-top: 1em;
}

.imgTile{
  height: 11em;
  width: 395px;
  border-radius: 3em 2em 0em 0em;
  position: relative;
  top: -3px;
  left: -1px;
}

.spotTile{
    width: 22em;
    height: 21em;
    box-sizing: border-box;
    /* border: 2px solid black; */
    border-radius: 3em 2em 0em 0em;
    padding: 3px;
    /* padding-bottom: 4px; */
    margin: 10px;
    margin-bottom: 21px;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 1.2);

}

.spot-tile img:hover {
    /* Styles for the tooltip on hover */
    /* For example, you can define the appearance of the tooltip text */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    /* Adjust the positioning of the tooltip relative to the spot tile */
    /* For example, you can use the 'top' and 'left' properties */
    top: -30px; /* Adjust as needed */
    left: 0; /* Adjust as needed */
  }


  .ratings{
    position: relative;
    bottom: 13%;
    left: 85%;
    width: 4em;
  }
  

  .h1 {
    position: relative;

    font-weight: 400;
    margin-top: 1em;
    margin-left: 1em;
  }

  .updateDeleteContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 3em;
    width: 21em;
    position: relative;
    top: 7em;
    align-items: center;
  }

  .updateButton{
    width: 41%;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: grey;
    color: white;
    border-radius: 7px;
     box-shadow: 0 3px 9px rgba(0, 0, 0, 1.2);
  }

  .updateButton:hover{
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-3px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
  }

  .deleteButton{
    width: 41%;
    display: flex;
    justify-content: center;
    background-color: grey;
    height: 100%;
    align-items: center;
      color: white;
    border-radius: 7px;
     box-shadow: 0 3px 9px rgba(0, 0, 0, 1.2);
  }

  .deleteButton:hover{
     box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-3px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
  }
  .createButtonSpot {
    border: 2px solid dark gray;
    margin-top: 1em;
    margin-left: 2em;
    height: 3em;
    border-radius: 7px;
    width: 11em;
    color: white;
    background-color: #080849;
    box-shadow: 0 0 10px rgb(50 50 50 / 83%);
  }

  .createButtonSpot:hover{
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-3px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
  }

  


@media screen and (min-width: 480px) {
    .spot-tile {
        width: 50%; 
    }
}

@media screen and (min-width: 768px) {
    .spot-tile {
        width: 33.33%; 
    }
}

@media screen and (min-width: 1024px) {
    .spot-tile {
        width: 25%; 
    }
}
