.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .label {
    margin-bottom: 10px;
    display: block;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .buttonSignUpForm {
    width: 100%;
    padding: 10px;
    background-color: #080849;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .error {
    color: red;
  }

  .homeLink {
    border: 2px solid black;
  }
