.spotTileContainer {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    margin-left: 1em;

}

.imgTile {
    height: 11em;
    width: 395px;
    border-radius: 2em 2em 0em 0em;
    position: relative;
    top: -3px;
    left: -1px;
}



.h1 {
    text-align: center;
    border-top: 2px solid lightblue;
    padding-top: 12px;
}

.h2 {
    margin-left: 1em;
    margin-bottom: 1em;
}

.spotTile{
    width: 22em;
    height: 21em;
    box-sizing: border-box;
    /* border: 2px solid black; */
    border-radius: 3em 2em 2em 2em;
    padding: 3px;
    /* padding-bottom: 4px; */
    margin: 10px;
    margin-bottom: 21px;
    cursor: pointer;
    box-shadow: 0 -1px 18px rgba(0, 0, 0, 0.2);
}


.spotTile:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-5px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
}


.updateButtonContainer {
    margin-top: 2em;
    width: 39%;
    height: 44px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.deleteButtonContainer{
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 9em;
    height: 43px;
    margin-left: 1em;
    justify-content: space-evenly;
    color: white;
    margin-top: 2em;
    /* background-color: gray; */
    background-color: #4e4e4e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 2.2);
}

.buttonUpdate {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 15.2);
    transition: box-shadow 0.3s ease;
}


.buttonDelete {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 15.2);
    transition: box-shadow 0.3s ease;
    position: relative;
    bottom: 2em;
    left: 8em;
}

.buttonUpdate:hover {
    /* Increase shadow on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow to bottom */
}

.rating {
    position: relative;
    bottom: 64px;
    left: 83%;
    width: 18%;
}

.price{
    position: relative;
    top: 12px;
}

.confirmationModal {
    width: 28em;
    height: 18em;
    border: 2px solid black;
    padding: 0;
    margin: 0 auto;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
   
  }

  .confirmDeleteHeader{
    position: relative;
    display: flex;
    /* left: 1em; */
    justify-content: space-around;
    flex-direction: row;
    padding: 3px;
    margin-top: 17px;
    color: #080849;
  }

  .confirmDeleteText {
    padding-left: 23px;
    height: 3em;
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .deleteButtonReview{
        border-radius: 8px;
        width: 44%;
        height: 4em;
        padding: 3px;
        background-color: red;
        color: white;
        box-shadow: 0 0 28px rgb(50 50 50 / 50%);
        margin-bottom: 1em;
  }

.deleteButtonReview:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-3px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
 
}

.cancelButtonReview {
    box-shadow: 0 0 3px rgba(50, 50, 50, 5.9);
    height: 4em;
    background-color: darkgrey;
    color: white;
    border-radius: 6px;
    width: 12em;
}

.cancelButtonReview:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
    transform: translateY(-3px); /* Move the spot tile up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
}





@media screen and (min-width: 480px) {
    .spot-tile {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .spot-tile {
        width: 33.33%;
    }
}

@media screen and (min-width: 1024px) {
    .spot-tile {
        width: 25%;
    }
}
