.spotTileContainer {
    display: flex;
    flex-wrap: wrap;

}

.imgTile {
    height: 10em;
    width: 406px;
    border-radius: 2em 2em 0em 0em;
    position: relative;
    top: 2px;
    left: 2px;

}



.spotTile{
    width: 23em;
    height: 18em;
    box-shadow: 0 0 10px rgb(50 50 50 / 35%);
    border-radius: 36px;
    margin: 10px;
    margin-bottom: 21px;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
}


.spotTile:hover {
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.9); /* Darker box shadow color */
}


.updateButtonContainer {
    width: 24%;
    height: 2em;
}

.buttonUpdate {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 15.2);
    transition: box-shadow 0.3s ease;
}


.buttonDelete {
    background-color: #4e4e4e;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 15.2);
    transition: box-shadow 0.3s ease;
    position: relative;
    bottom: 2em;
    left: 8em;
}

.buttonUpdate:hover {
    /* Increase shadow on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add shadow to bottom */
}

.rating {
    position: relative;
    bottom: 45px;
    left: 85%;
    width: 18%;
}

.price{
    position: relative;
    top: 12px;
}




@media screen and (min-width: 480px) {
    .spot-tile {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .spot-tile {
        width: 33.33%;
    }
}

@media screen and (min-width: 1024px) {
    .spot-tile {
        width: 25%;
    }
}
