

.spotName {
    color:  #20886f;
}

.spotDetailImages{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0; 
}

.largeImages {
    flex: 0 0 42%; /* Large image takes up 50% of the container */
    max-width: 40%; /* Set maximum width to 50% */
    padding: 3px;
}

.smallImages {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 1px;
}

.smallImage {
    flex: 0 0 50%; /* Each small image takes up 50% of the container */
    max-width: 50%; /* Set maximum width to 50% */
    margin-bottom: 10px; /* Add some space between small images */
}

.img{
    padding: 2px;
}

.hostInfoCallOutContainer{
    display: flex;
    /* border: 2px solid black; */
    padding: 5px;

}

.callout {
    height: 11em;
    border: 2px solid black;
    display: flex;
    justify-self: end;
    flex-direction: column;
    width: 22%;
    border-radius: 1em;
    padding: 23px;
}

.hostInfo{
    border: 2px solid black;
    width: 48em;
    border-radius: 7px;
    display: flex;
    padding: 5px;
    margin-right: 1em;
}


.reviews {
    border: 2px solid black;
    margin-bottom: 2em;
    height: 12em;
}

.button li {
    text-decoration: none;
}

.modalContainer {
    width: 29em;
    height: 18em;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 9px;


}

.errors {
    color: red ;
}
