.container {
    width: 28em;
    height: 22em;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
/* 
  h1 {
    text-align: center;
    border-top: 2px solid lightblue;
    padding-top: 12px;
  } */

  h2 {
    margin-left: 1em;
  }

  .errors {
    color: red;
  }

  
  form {
    display: flex;
    flex-direction: column;
  }
  

  label {
    margin-bottom: 10px;
    justify-content: center;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    justify-content: center;
    
  }

  .buttonLoginForm {

    width: 100%;
    padding: 10px;
    color: white;
    box-shadow: 0 0 10px rgb(50 50 50 / 35%);
    background-color: #080849;
    border-radius: 3px;
    cursor: pointer;
  }

  .buttonLoginForm:not(:disabled):hover {
    transform: translateY(-5px); /* Move the button up by 5px on hover */
    transition: transform 0.3s ease; /* Apply a smooth transition */
}

/* Styles for disabled buttons */
.buttonLoginForm:disabled {
  background-color: lightgrey;
  opacity: 15.7;
  cursor: not-allowed;
}

.demoButton {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    top: 1em;
}



.demoButton:hover {
  text-decoration: underline; /* Add underline on hover */

}
