
.error {
    color: red;
}

.mainSectionContainer {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesUrl {
    border: 2px solid black;
    width: 33em;
}
