
.profileButtonContainer {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end; /* Spread items evenly */
   
}

.homeLinkContainer {
    position: relative;
    display: flex;
    border-bottom: 2px solid lightblue;
    justify-content: space-between;
    height: 73px;
}

.logo {
    display: flex;
    justify-content: start;
} 

.profileButton {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: end;
}

.profileDropdown {
    position: absolute;
    top: 70px;
    right: 0px; 
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 5px; 
    font-size: medium;
    cursor: pointer;

}

.imgHomeNav {
    height: 9.5em;
}

.hidden {
    display: none;
}



ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
    

}
